<!-- <nav class="navbar navbar-expand-lg bg-transparent py-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/uceflix.svg" alt="Logo" width="200" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Mi lista</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administrador
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Subir peliculas</a></li>
          </ul>
        </li>
      </ul>
      <div>
        <form class="d-flex" role="search">
          <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar pelicula..." aria-label="Search">
          <div class="h-25 w-25 d-block my-auto">
            <button class="btn">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav> -->

<div class="my-5">
  <div class="w-100 ">
      <a href="/">
        <img src="/assets/images/uceflixlogo.png" class="d-block mx-auto" alt="Logo" width="220"/>
      </a>
  </div>
  
  
  <div class="d-flex mx-auto justify-content-around aling-items-center mt-2">
    <div class="">
      <ul class="navbar-nav d-flex flex-row gap-3">
        <li class="nav-item"><a class="hover navbar-decorator nav-link text-secondary" href="/"><i class="bi bi-house-fill"></i> Home</a></li>
        <li class="nav-item"><a class="hover navbar-decorator nav-link text-secondary" href="/mylist"><i class="bi bi-film"></i> Mi Lista</a></li>
        <li class="nav-item"><a class="hover navbar-decorator nav-link text-secondary" href="/uploadmovie"><i class="bi bi-person-fill-lock"></i> Upload movie</a></li>
      </ul>
    </div>
    <div>
        <div class="d-block">
          <input [formControl]="searchform" type="text" class="outline-none border rounded-start-pill outline-none px-3 py-2" placeholder="Buscar pelicula..."> 
          <button (click)="navigateToSearch()" class="px-3 py-2 border border-start-0 rounded-end-pill"><i class="bi bi-search"></i></button>  
        </div>
      </div>
  </div>
</div>

<router-outlet>
  
</router-outlet>

<style>
  .navbar-decorator{
    transition: cubic-bezier(.17,.67,.93,.73);
  }
  .navbar-decorator:hover{
    scale: 101%;
    color: #089c5f !important;
  }
</style>

<footer class="bg-dark text-center text-white py-3">
  <div class="container">
    <p class="mb-0">
      &copy; 2024 Javier Vasquez, Abraham Vicioso, Euris Polanco, Maria Nicol, Laisha Jimenez Todos los derechos reservados.
    </p>
    <p class="mb-0">
      Desarrollado con <span class="text-danger">&hearts;</span> por <a href="#" class="text-white text-decoration-none fw-bold">Javier Vasquez &  Abraham Vicioso</a>.
    </p>
    <div class="mt-2">
      <a href="https://www.linkedin.com/in/javier-vasquez-5b47142ab/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BPvyRz8n%2FThe9FpAwyfOCKA%3D%3D" target="_blank" class="btn btn-outline-light btn-sm me-2">
        <i class="bi bi-linkedin"></i> LinkedIn
      </a>
      <a href="https://www.linkedin.com/in/abrahan-vicioso/overlay/about-this-profile/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BEvatsu0LSk6h6NhOU17%2FoQ%3D%3D" target="_blank" class="btn btn-outline-light btn-sm me-2">
        <i class="bi bi-linkedin"></i> LinkedIn
      </a>
      <a href="https://github.com/AbrahamVicioso" target="_blank" class="btn btn-outline-light btn-sm">
        <i class="bi bi-github"></i> GitHub
      </a>
      
    </div>
  </div>
</footer>
